generated/schema/proposalManagement.vo-dml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by gradle vo-dml tools 2024-11-06T17:08:22.410293Z-->
<xsd:schema xmlns:coord="http://ivoa.net/dm/models/vo-dml/xsd/stc/coords/"
            xmlns:ivoa="http://ivoa.net/vodml/ivoa"
            xmlns:prop="http://ivoa.net/dm/proposalDM/v0.6"
            xmlns:propm="http://ivoa.net/dm/proposalManagment/v0.6"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            version="1.1"
            targetNamespace="http://ivoa.net/dm/proposalManagment/v0.6">
   <xsd:import namespace="http://ivoa.net/vodml/ivoa"
               schemaLocation="IVOA-v1.0.vo-dml.xsd"/>
   <xsd:import namespace="http://ivoa.net/dm/models/vo-dml/xsd/stc/coords/"
               schemaLocation="Coords-v1.0.vo-dml.xsd"/>
   <xsd:import namespace="http://ivoa.net/dm/proposalDM/v0.6"
               schemaLocation="proposaldm.vo-dml.xsd"/>
   <xsd:element name="proposalManagementModel">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="refs" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="observingProposal"
                                  type="prop:ObservingProposal"
                                  minOccurs="0"
                                  maxOccurs="unbounded"/>
                     <xsd:element name="organization"
                                  type="prop:Organization"
                                  minOccurs="0"
                                  maxOccurs="unbounded"/>
                     <xsd:element name="person"
                                  type="prop:Person"
                                  minOccurs="0"
                                  maxOccurs="unbounded"/>
                     <xsd:element name="observatory"
                                  type="propm:Observatory"
                                  minOccurs="0"
                                  maxOccurs="unbounded"/>
                     <xsd:element name="reviewer"
                                  type="propm:Reviewer"
                                  minOccurs="0"
                                  maxOccurs="unbounded"/>
                     <xsd:element name="resourceType"
                                  type="propm:ResourceType"
                                  minOccurs="0"
                                  maxOccurs="unbounded"/>
                     <xsd:element name="coordSys"
                                  type="coord:CoordSys"
                                  minOccurs="0"
                                  maxOccurs="unbounded"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
               <xsd:element name="proposalCycle" type="propm:ProposalCycle"/>
               <xsd:element name="resourceBlock" type="propm:ResourceBlock"/>
            </xsd:choice>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="Observatory">
      <xsd:annotation>
         <xsd:documentation>An organisation that can perform astronomical observations</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:Observatory</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="prop:Organization">
            <xsd:sequence>
               <xsd:element name="homePage" type="xsd:anyURI" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>the home page for the Observatory</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>proposalManagement:Observatory.homePage</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="telescopes"
                            type="propm:Telescope"
                            minOccurs="1"
                            maxOccurs="unbounded"/>
               <xsd:element name="instruments"
                            type="propm:Instrument"
                            minOccurs="1"
                            maxOccurs="unbounded"/>
               <xsd:element name="backends"
                            type="propm:Backend"
                            minOccurs="1"
                            maxOccurs="unbounded"/>
               <xsd:element name="arrays"
                            type="propm:TelescopeArray"
                            minOccurs="0"
                            maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ObservingPlatform" abstract="true">
      <xsd:annotation>
         <xsd:documentation>base type of a telescope or array of telescopes</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:ObservingPlatform</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:attribute name="_id" type="xsd:ID"/>
   </xsd:complexType>
   <xsd:complexType name="Telescope">
      <xsd:annotation>
         <xsd:documentation/>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:Telescope</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="propm:ObservingPlatform">
            <xsd:sequence>
               <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>telescope name</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>proposalManagement:Telescope.name</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="wikiId"
                            type="prop:WikiDataId"
                            minOccurs="0"
                            maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>the wikidata id for the Telescope</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>proposalManagement:Telescope.wikiId</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="location"
                            type="coord:RealCartesianPoint"
                            minOccurs="1"
                            maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>the location of the telescope</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>proposalManagement:Telescope.location</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="TelescopeArrayMember">
      <xsd:annotation>
         <xsd:documentation/>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:TelescopeArrayMember</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence><!--this is a reference-->
         <xsd:element name="telescope" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:TelescopeArrayMember.telescope</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TelescopeArray">
      <xsd:annotation>
         <xsd:documentation>a set of telescopes that are operated together for an observation</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:TelescopeArray</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="propm:ObservingPlatform">
            <xsd:sequence>
               <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>the array name</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>proposalManagement:TelescopeArray.name</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="arrayMembers"
                            type="propm:TelescopeArrayMember"
                            minOccurs="1"
                            maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="Instrument">
      <xsd:annotation>
         <xsd:documentation>An instrument that can be attached to a telescope - e.g. CCD, Radio Receiver</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:Instrument</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the instrument name - human readable</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:Instrument.name</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="description"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>short human readable description</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:Instrument.description</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="wikiId"
                      type="prop:WikiDataId"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the wikidata id for the Instrument</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:Instrument.wikiId</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="reference" type="xsd:anyURI" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation> a URL that points to a more detailed description of the instrument</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:Instrument.reference</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="kind"
                      type="propm:InstrumentKind"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the kind of instrument</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:Instrument.kind</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="_id" type="xsd:ID"/>
   </xsd:complexType>
   <xsd:complexType name="Filter">
      <xsd:annotation>
         <xsd:documentation>Available filters /bandpasses for intruments </xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:Filter</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>human readable name</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:Filter.name</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="description"
                      type="xsd:string"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>human readable description</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:Filter.description</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="frequencyCoverage"
                      type="prop:SpectralWindowSetup"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the frequency range that the instrument covers</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:Filter.frequencyCoverage</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Backend">
      <xsd:annotation>
         <xsd:documentation>a processing backend /pipeline- e.g. correlator</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:Backend</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the backend name</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:Backend.name</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="parallel" type="xsd:boolean" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>is capable of being run at same time as other backends</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:Backend.parallel</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="_id" type="xsd:ID"/>
   </xsd:complexType>
   <xsd:complexType name="ObservingMode">
      <xsd:annotation>
         <xsd:documentation>a configuration can be used to observe with.</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:ObservingMode</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>human readable name for the mode</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:ObservingMode.name</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="description"
                      type="xsd:string"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>human readable description</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:ObservingMode.description</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="filter" type="propm:Filter" minOccurs="1" maxOccurs="1"/>
         <!--this is a reference-->
         <xsd:element name="telescope" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:ObservingMode.telescope</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <!--this is a reference-->
         <xsd:element name="instrument" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:ObservingMode.instrument</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <!--this is a reference-->
         <xsd:element name="backend" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:ObservingMode.backend</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="_id" type="xsd:ID"/>
   </xsd:complexType>
   <xsd:complexType name="ProposalCycle">
      <xsd:annotation>
         <xsd:documentation>Defines collection of resources and proposals for a particular observing season</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:ProposalCycle</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="title" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>a human readable description of the cycle</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:ProposalCycle.title</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="instructions"
                      type="xsd:anyURI"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>pointer to more detailed instructions about the cycle</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:ProposalCycle.instructions</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="submissionDeadline"
                      type="xsd:dateTime"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the date by which observing proposals must be submitted to be considered for this cycle</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:ProposalCycle.submissionDeadline</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="observationSessionStart"
                      type="xsd:dateTime"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the start date of the observing cycle</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:ProposalCycle.observationSessionStart</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="observationSessionEnd"
                      type="xsd:dateTime"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the end date of the observing cycle</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:ProposalCycle.observationSessionEnd</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="observingModes"
                      type="propm:ObservingMode"
                      minOccurs="1"
                      maxOccurs="unbounded"/>
         <xsd:element name="availableResources"
                      type="propm:AvailableResources"
                      minOccurs="1"
                      maxOccurs="1"/>
         <xsd:element name="possibleGrades"
                      type="propm:AllocationGrade"
                      minOccurs="1"
                      maxOccurs="unbounded"/>
         <xsd:element name="tac" type="propm:TAC" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="submittedProposals"
                      type="propm:SubmittedProposal"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="allocatedProposals"
                      type="propm:AllocatedProposal"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <!--this is a reference-->
         <xsd:element name="observatory" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:ProposalCycle.observatory</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Reviewer">
      <xsd:annotation>
         <xsd:documentation>assigned to review the proposal</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:Reviewer</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence><!--this is a reference-->
         <xsd:element name="person" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the person taking on the reviewer role</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:Reviewer.person</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="_id" type="xsd:ID"/>
   </xsd:complexType>
   <xsd:complexType name="CommitteeMember">
      <xsd:annotation>
         <xsd:documentation>a member of the TAC </xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:CommitteeMember</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="role" type="propm:TacRole" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:CommitteeMember.role</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <!--this is a reference-->
         <xsd:element name="member" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the member</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:CommitteeMember.member</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TAC">
      <xsd:annotation>
         <xsd:documentation>time allocation committee</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:TAC</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="members"
                      type="propm:CommitteeMember"
                      minOccurs="1"
                      maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ObservationConfiguration">
      <xsd:annotation>
         <xsd:documentation>the configuration of an observation specific to a submission to a particular cycle</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:ObservationConfiguration</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence><!--this is a reference-->
         <xsd:element name="observation"
                      type="xsd:IDREF"
                      minOccurs="1"
                      maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:ObservationConfiguration.observation</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <!--this is a reference-->
         <xsd:element name="mode" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The observing mode</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:ObservationConfiguration.mode</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SubmittedProposal">
      <xsd:annotation>
         <xsd:documentation>an instance of a proposal that has been submitted</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:SubmittedProposal</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="submissionDate"
                      type="xsd:dateTime"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the date that the proposal was submitted</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:SubmittedProposal.submissionDate</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="successful"
                      type="xsd:boolean"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the proposal can go on to allocation</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:SubmittedProposal.successful</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="reviewsCompleteDate"
                      type="xsd:dateTime"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the date when all the proposals are due</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:SubmittedProposal.reviewsCompleteDate</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="config"
                      type="propm:ObservationConfiguration"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="reviews"
                      type="propm:ProposalReview"
                      minOccurs="1"
                      maxOccurs="unbounded"/>
         <!--this is a reference-->
         <xsd:element name="proposal" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the proposal that was submitted</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:SubmittedProposal.proposal</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="_id" type="xsd:ID"/>
   </xsd:complexType>
   <xsd:complexType name="AllocatedProposal">
      <xsd:annotation>
         <xsd:documentation>an instance of a proposal that is allocated observing time</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:AllocatedProposal</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="allocation"
                      type="propm:AllocatedBlock"
                      minOccurs="1"
                      maxOccurs="unbounded"/>
         <!--this is a reference-->
         <xsd:element name="submitted" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the proposal</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:AllocatedProposal.submitted</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProposalReview">
      <xsd:annotation>
         <xsd:documentation>A review of a proposal</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:ProposalReview</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="comment" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Description</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:ProposalReview.comment</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="score" type="xsd:float" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the review score</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:ProposalReview.score</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="technicalFeasibility"
                      type="xsd:boolean"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>is the proposal technically feasible</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:ProposalReview.technicalFeasibility</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="reviewDate"
                      type="xsd:dateTime"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the date that the review is submitted</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:ProposalReview.reviewDate</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <!--this is a reference-->
         <xsd:element name="reviewer" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the reviewer making this review</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:ProposalReview.reviewer</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ResourceType">
      <xsd:annotation>
         <xsd:documentation>a type of resource  </xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:ResourceType</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the name of the resource type</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:ResourceType.name</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="unit" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:ResourceType.unit</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="_id" type="xsd:ID"/>
   </xsd:complexType>
   <xsd:complexType name="Resource">
      <xsd:annotation>
         <xsd:documentation>A resource that will be consumed by allocating an observation from a proposal</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:Resource</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="amount" type="xsd:float" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The amount of the resource</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:Resource.amount</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <!--this is a reference-->
         <xsd:element name="type" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the type of the resource</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:Resource.type</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AvailableResources">
      <xsd:annotation>
         <xsd:documentation>The list of resources that are available</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:AvailableResources</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="resources"
                      type="propm:Resource"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AllocationGrade">
      <xsd:annotation>
         <xsd:documentation>The final grade given by the TAC</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:AllocationGrade</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the name of the grade</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:AllocationGrade.name</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="description"
                      type="xsd:string"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>what this grade means</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:AllocationGrade.description</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="_id" type="xsd:ID"/>
   </xsd:complexType>
   <xsd:complexType name="ResourceBlock">
      <xsd:annotation>
         <xsd:documentation>A block of resources that can be allocated</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:ResourceBlock</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="resource"
                      type="propm:Resource"
                      minOccurs="1"
                      maxOccurs="1"/>
         <!--this is a reference-->
         <xsd:element name="mode" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:ResourceBlock.mode</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AllocatedBlock">
      <xsd:annotation>
         <xsd:documentation>A block of resources that have been allocated</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:AllocatedBlock</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="propm:ResourceBlock">
            <xsd:sequence><!--this is a reference-->
               <xsd:element name="grade" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>proposalManagement:AllocatedBlock.grade</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:simpleType name="InstrumentKind">
      <xsd:annotation>
         <xsd:documentation/>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:InstrumentKind</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="continuum">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:InstrumentKind.continuum</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="spectroscopic">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:InstrumentKind.spectroscopic</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TacRole">
      <xsd:annotation>
         <xsd:documentation>A role within the timeAllocation committee</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposalManagement:TacRole</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="TechnicalReviewer">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:TacRole.TechnicalReviewer</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="ScienceReviewer">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:TacRole.ScienceReviewer</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="Chair">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposalManagement:TacRole.Chair</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
</xsd:schema>
