generated/schema/proposaldm.vo-dml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by gradle vo-dml tools 2024-12-19T16:07:15.385592Z-->
<xsd:schema xmlns:coord="http://ivoa.net/dm/models/vo-dml/xsd/stc/coords/"
            xmlns:ivoa="http://ivoa.net/vodml/ivoa"
            xmlns:prop="http://ivoa.net/dm/proposalDM/v0.6"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            version="1.1"
            targetNamespace="http://ivoa.net/dm/proposalDM/v0.6">
   <xsd:import namespace="http://ivoa.net/vodml/ivoa"
               schemaLocation="IVOA-v1.0.vo-dml.xsd"/>
   <xsd:import namespace="http://ivoa.net/dm/models/vo-dml/xsd/stc/coords/"
               schemaLocation="Coords-v1.0.vo-dml.xsd"/>
   <xsd:element name="proposalModel">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="refs" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="abstractProposal"
                                  type="prop:AbstractProposal"
                                  minOccurs="0"
                                  maxOccurs="unbounded"/>
                     <xsd:element name="organization"
                                  type="prop:Organization"
                                  minOccurs="0"
                                  maxOccurs="unbounded"/>
                     <xsd:element name="person"
                                  type="prop:Person"
                                  minOccurs="0"
                                  maxOccurs="unbounded"/>
                     <xsd:element name="coordSys"
                                  type="coord:CoordSys"
                                  minOccurs="0"
                                  maxOccurs="unbounded"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
               <xsd:element name="observingProposal" type="prop:ObservingProposal"/>
            </xsd:choice>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="AbstractProposal" abstract="true">
      <xsd:annotation>
         <xsd:documentation>base proposal</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:AbstractProposal</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="title" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the proposal title</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:AbstractProposal.title</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="summary" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>a short summary/abstract of the proposal</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:AbstractProposal.summary</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="kind"
                      type="prop:ProposalKind"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the type of proposal</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:AbstractProposal.kind</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="scientificJustification"
                      type="prop:Justification"
                      minOccurs="1"
                      maxOccurs="1"/>
         <xsd:element name="technicalJustification"
                      type="prop:Justification"
                      minOccurs="1"
                      maxOccurs="1"/>
         <xsd:element name="investigators"
                      type="prop:Investigator"
                      minOccurs="1"
                      maxOccurs="unbounded"/>
         <xsd:element name="relatedProposals"
                      type="prop:RelatedProposal"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="supportingDocuments"
                      type="prop:SupportingDocument"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="targets"
                      type="prop:Target"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="fields"
                      type="prop:Field"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="technicalGoals"
                      type="prop:TechnicalGoal"
                      minOccurs="1"
                      maxOccurs="unbounded"/>
         <xsd:element name="observations"
                      type="prop:Observation"
                      minOccurs="1"
                      maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="_id" type="xsd:ID"/>
   </xsd:complexType>
   <xsd:complexType name="ObservingProposal">
      <xsd:annotation>
         <xsd:documentation>a complete proposal</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:ObservingProposal</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="prop:AbstractProposal"/>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="RelatedProposal">
      <xsd:annotation>
         <xsd:documentation>a related proposal</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:RelatedProposal</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence><!--this is a reference-->
         <xsd:element name="proposal" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the related proposal</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:RelatedProposal.proposal</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Person">
      <xsd:annotation>
         <xsd:documentation>person connected with the proposal</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:Person</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="fullName" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The given names for the person</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:Person.fullName</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="eMail" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>an email that can be used to communicate with the person</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:Person.eMail</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="orcidId"
                      type="ivoa:stringIdentifier"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>orcid id see https://orcid.org</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:Person.orcidId</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <!--this is a reference-->
         <xsd:element name="homeInstitute"
                      type="xsd:IDREF"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposal:Person.homeInstitute</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="_id" type="xsd:ID"/>
   </xsd:complexType>
   <xsd:complexType name="Investigator">
      <xsd:annotation>
         <xsd:documentation/>
         <xsd:appinfo>
            <vodml-ref>proposal:Investigator</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="type"
                      type="prop:InvestigatorKind"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the investigator type</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:Investigator.type</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="forPhD" type="xsd:boolean" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>is the investigator making proposal for their PhD</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:Investigator.forPhD</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <!--this is a reference-->
         <xsd:element name="person" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the investigator</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:Investigator.person</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Organization">
      <xsd:annotation>
         <xsd:documentation>An institution that is a collection of people</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:Organization</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The name of the organization</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:Organization.name</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="address" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposal:Organization.address</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ivoid" type="ivoa:ivoid" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the registry identifier for the organization</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:Organization.ivoid</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="wikiId"
                      type="prop:WikiDataId"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the wikidata id for the Organization</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:Organization.wikiId</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="_id" type="xsd:ID"/>
   </xsd:complexType>
   <xsd:complexType name="Justification">
      <xsd:annotation>
         <xsd:documentation>The justification for the proposal. Note that the justification is for reading by humans 
                                      and is not parsed to extract things like source lists - that sort of information
                                      must be entered in the correct place in the model.</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:Justification</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="text" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the full text of the justification</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:Justification.text</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="format"
                      type="prop:TextFormats"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the format of the text</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:Justification.format</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SupportingDocument">
      <xsd:annotation>
         <xsd:documentation>a document</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:SupportingDocument</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="title" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>document title</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:SupportingDocument.title</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="location" type="xsd:anyURI" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>location of document</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:SupportingDocument.location</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Target" abstract="true">
      <xsd:annotation>
         <xsd:documentation>A target source</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:Target</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="sourceName" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A common name for the source</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:Target.sourceName</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="_id" type="xsd:ID"/>
   </xsd:complexType>
   <xsd:complexType name="CelestialTarget">
      <xsd:annotation>
         <xsd:documentation>The basic target setup for a celestial Target.</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:CelestialTarget</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="prop:Target">
            <xsd:sequence>
               <xsd:element name="sourceCoordinates"
                            type="coord:EquatorialPoint"
                            minOccurs="1"
                            maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>proposal:CelestialTarget.sourceCoordinates</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="positionEpoch"
                            type="coord:Epoch"
                            minOccurs="1"
                            maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>the epoch at which the position was measured</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>proposal:CelestialTarget.positionEpoch</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="pmRA"
                            type="ivoa:RealQuantity"
                            minOccurs="0"
                            maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>proposal:CelestialTarget.pmRA</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="pmDec"
                            type="ivoa:RealQuantity"
                            minOccurs="0"
                            maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>proposal:CelestialTarget.pmDec</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="parallax"
                            type="ivoa:RealQuantity"
                            minOccurs="0"
                            maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>proposal:CelestialTarget.parallax</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="sourceVelocity"
                            type="ivoa:RealQuantity"
                            minOccurs="0"
                            maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>proposal:CelestialTarget.sourceVelocity</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="SolarSystemTarget">
      <xsd:annotation>
         <xsd:documentation/>
         <xsd:appinfo>
            <vodml-ref>proposal:SolarSystemTarget</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="prop:Target"/>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="Field" abstract="true">
      <xsd:annotation>
         <xsd:documentation>Definition of an observing field pointing</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:Field</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposal:Field.name</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="_id" type="xsd:ID"/>
   </xsd:complexType>
   <xsd:complexType name="TargetField">
      <xsd:annotation>
         <xsd:documentation>the field points to the associated target</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:TargetField</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="prop:Field"/>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="Point">
      <xsd:annotation>
         <xsd:documentation>Single point on the sky</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:Point</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="prop:Field">
            <xsd:sequence>
               <xsd:element name="centre" type="coord:Point" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>proposal:Point.centre</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="Polygon">
      <xsd:annotation>
         <xsd:documentation>Polygonal map</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:Polygon</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="prop:Field">
            <xsd:sequence>
               <xsd:element name="points"
                            type="coord:EquatorialPoint"
                            minOccurs="0"
                            maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:documentation>an array of points....</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>proposal:Polygon.points</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="Ellipse">
      <xsd:annotation>
         <xsd:documentation>Specialization of a Field for an elliptical map.</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:Ellipse</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="prop:Field">
            <xsd:sequence>
               <xsd:element name="semiMajor"
                            type="ivoa:RealQuantity"
                            minOccurs="1"
                            maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>proposal:Ellipse.semiMajor</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="semiMinor"
                            type="ivoa:RealQuantity"
                            minOccurs="1"
                            maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>proposal:Ellipse.semiMinor</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="pAMajor"
                            type="ivoa:RealQuantity"
                            minOccurs="1"
                            maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>proposal:Ellipse.pAMajor</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ObservingConstraint" abstract="true">
      <xsd:annotation>
         <xsd:documentation>a form of constraint on the observation</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:ObservingConstraint</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
   </xsd:complexType>
   <xsd:complexType name="TimingConstraint" abstract="true">
      <xsd:annotation>
         <xsd:documentation>Any specific timing requirements for the observing</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:TimingConstraint</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="prop:ObservingConstraint">
            <xsd:sequence>
               <xsd:element name="note" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>proposal:TimingConstraint.note</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="isAvoidConstraint"
                            type="xsd:boolean"
                            minOccurs="0"
                            maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>proposal:TimingConstraint.isAvoidConstraint</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="TimingWindow">
      <xsd:annotation>
         <xsd:documentation>particular time range</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:TimingWindow</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="prop:TimingConstraint">
            <xsd:sequence>
               <xsd:element name="startTime"
                            type="xsd:dateTime"
                            minOccurs="0"
                            maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>proposal:TimingWindow.startTime</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="endTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>proposal:TimingWindow.endTime</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="SimultaneityConstraint">
      <xsd:annotation>
         <xsd:documentation>A constraint that requires that two observations occur simultaneously</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:SimultaneityConstraint</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="prop:TimingConstraint"/>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="PointingConstaint" abstract="true">
      <xsd:annotation>
         <xsd:documentation>A constraint that limits the telescope pointing</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:PointingConstaint</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="prop:ObservingConstraint"/>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ScienceSpectralWindow">
      <xsd:annotation>
         <xsd:documentation>A spectral window for science use.</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:ScienceSpectralWindow</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="spectralWindowSetup"
                      type="prop:SpectralWindowSetup"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposal:ScienceSpectralWindow.spectralWindowSetup</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="expectedSpectralLine"
                      type="prop:ExpectedSpectralLine"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ExpectedSpectralLine">
      <xsd:annotation>
         <xsd:documentation>Brief description of a spectral line.</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:ExpectedSpectralLine</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="restFrequency"
                      type="ivoa:RealQuantity"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposal:ExpectedSpectralLine.restFrequency</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="transition" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposal:ExpectedSpectralLine.transition</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="splatalogId"
                      type="ivoa:stringIdentifier"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposal:ExpectedSpectralLine.splatalogId</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="description"
                      type="xsd:string"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposal:ExpectedSpectralLine.description</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PerformanceParameters">
      <xsd:annotation>
         <xsd:documentation>The parameters required for observation to be useful for the science goal</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:PerformanceParameters</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="desiredAngularResolution"
                      type="ivoa:RealQuantity"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposal:PerformanceParameters.desiredAngularResolution</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="desiredLargestScale"
                      type="ivoa:RealQuantity"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposal:PerformanceParameters.desiredLargestScale</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="desiredSensitivity"
                      type="ivoa:RealQuantity"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposal:PerformanceParameters.desiredSensitivity</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="desiredDynamicRange"
                      type="ivoa:RealQuantity"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposal:PerformanceParameters.desiredDynamicRange</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="representativeSpectralPoint"
                      type="ivoa:RealQuantity"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the the point in the EM where these parameters should be evaluated</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:PerformanceParameters.representativeSpectralPoint</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Observation" abstract="true">
      <xsd:annotation>
         <xsd:documentation>An observation - a pointing of the telescope at a part of the sky, occurs in a single non-overlapping time period</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:Observation</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="constraints"
                      type="prop:ObservingConstraint"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <!--this is a reference-->
         <xsd:element name="target"
                      type="xsd:IDREF"
                      minOccurs="0"
                      maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>The actual target of the observation</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:Observation.target</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <!--this is a reference-->
         <xsd:element name="field" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The Field for the observation</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:Observation.field</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <!--this is a reference-->
         <xsd:element name="technicalGoal"
                      type="xsd:IDREF"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The technical goals of the observation</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:Observation.technicalGoal</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="_id" type="xsd:ID"/>
   </xsd:complexType>
   <xsd:complexType name="TargetObservation">
      <xsd:annotation>
         <xsd:documentation>an observation of the scientific target </xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:TargetObservation</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="prop:Observation"/>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CalibrationObservation">
      <xsd:annotation>
         <xsd:documentation>An observation that is intended for calibration</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:CalibrationObservation</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="prop:Observation">
            <xsd:sequence>
               <xsd:element name="intent"
                            type="prop:CalibrationTarget_intendedUse"
                            minOccurs="1"
                            maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>The use of the calibration observation</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>proposal:CalibrationObservation.intent</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="TechnicalGoal">
      <xsd:annotation>
         <xsd:documentation>collects together the technical goals of the proposal</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:TechnicalGoal</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="performance"
                      type="prop:PerformanceParameters"
                      minOccurs="1"
                      maxOccurs="1"/>
         <xsd:element name="spectrum"
                      type="prop:ScienceSpectralWindow"
                      minOccurs="1"
                      maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="_id" type="xsd:ID"/>
   </xsd:complexType>
   <xsd:complexType name="SpectralWindowSetup">
      <xsd:annotation>
         <xsd:documentation>Science oriented definition of a spectral window.</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:SpectralWindowSetup</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="start"
                      type="ivoa:RealQuantity"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The start of the spectral window</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:SpectralWindowSetup.start</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="end" type="ivoa:RealQuantity" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The end of the spectral window</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:SpectralWindowSetup.end</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="spectralResolution"
                      type="ivoa:RealQuantity"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>channel width</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:SpectralWindowSetup.spectralResolution</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="isSkyFrequency"
                      type="xsd:boolean"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>represents an observed frequency</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:SpectralWindowSetup.isSkyFrequency</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="polarization"
                      type="coord:PolStateEnum"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>desired polarization</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:SpectralWindowSetup.polarization</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="WikiDataId">
      <xsd:annotation>
         <xsd:documentation>a WikiData identifier</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:WikiDataId</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="ProposalKind">
      <xsd:annotation>
         <xsd:documentation/>
         <xsd:appinfo>
            <vodml-ref>proposal:ProposalKind</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="Standard">
            <xsd:annotation>
               <xsd:documentation>Normal proposal</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:ProposalKind.Standard</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="ToO">
            <xsd:annotation>
               <xsd:documentation>target of opportunity</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:ProposalKind.ToO</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="Survey">
            <xsd:annotation>
               <xsd:documentation>Part of a large programme</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:ProposalKind.Survey</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="InvestigatorKind">
      <xsd:annotation>
         <xsd:documentation/>
         <xsd:appinfo>
            <vodml-ref>proposal:InvestigatorKind</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="PI">
            <xsd:annotation>
               <xsd:documentation>principal investigator</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:InvestigatorKind.PI</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="COI">
            <xsd:annotation>
               <xsd:documentation>co-investigator</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:InvestigatorKind.COI</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TextFormats">
      <xsd:annotation>
         <xsd:documentation>acceptable text formats for document submission</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>proposal:TextFormats</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="latex">
            <xsd:annotation>
               <xsd:documentation>LaTeX using standard document style</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:TextFormats.latex</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="rst">
            <xsd:annotation>
               <xsd:documentation>restructured text</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:TextFormats.rst</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="asciidoc">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposal:TextFormats.asciidoc</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CalibrationTarget_intendedUse">
      <xsd:annotation>
         <xsd:documentation/>
         <xsd:appinfo>
            <vodml-ref>proposal:CalibrationTarget_intendedUse</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="Amplitude">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposal:CalibrationTarget_intendedUse.Amplitude</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="Atmospheric">
            <xsd:annotation>
               <xsd:documentation>used to measure atmospheric effects</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>proposal:CalibrationTarget_intendedUse.Atmospheric</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="Bandpass">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposal:CalibrationTarget_intendedUse.Bandpass</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="Phase">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposal:CalibrationTarget_intendedUse.Phase</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="Pointing">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposal:CalibrationTarget_intendedUse.Pointing</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="Focus">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposal:CalibrationTarget_intendedUse.Focus</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="Polarization">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposal:CalibrationTarget_intendedUse.Polarization</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="Delay">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>proposal:CalibrationTarget_intendedUse.Delay</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
</xsd:schema>
